button{
  cursor: pointer;
  border: none;
}
/* Sort btn */
button.sort{
    color: #fff;
    padding: 7px 12px;
    position: absolute;
    right: 26px;
    border-radius: 5px;
    background-color: gray;
    display: none;
}
/* Category Styling */
@media (min-width:700px){

  .btn-container{
    margin: 2em 0 3em;
    display: flex;
    justify-content: center;
    gap: 30px;   
  }
  
  .btn-container button{
    padding: 10px 20px;
    color: #fff;
    background:rgb(200, 0, 70);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    text-transform: capitalize;
    font-style: oblique
  }
  .btn-container button:hover{
    background:radial-gradient(#fff,#ffd6d6) ;
    color: black;
  }
  
}

/* Menu styling */

    .products-container {
       margin: 0 100px 0 150px;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       justify-items: center;
      }
      .products-container .each {
        margin-bottom: 1.5em;
      }
      
      .products-container .each .add-to-cart{
        display: none;
        position: relative;
        color: white;
        top: -120px;
        left: 5px;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        padding: 7px 20px;
        background-color: rgb(200, 0, 70);
         }
         .products-container .each .add-to-cart.visible{
          display: inline-block;
         }
@media (max-width:1150px){
       /* Menu styling */
    .products-container {
      grid-template-columns: 1fr 1fr;
      
    }
}
@media (max-width:700px){
  /* sort btn */
  button.sort{
    display: inline;
  }
  /* Category styling */
  .btn-container{
      /* margin-top: 3em; */
      display: grid;
      gap: 20px;
      width: 80%;
      height: 60vh;
      justify-content: center;
      align-content: center;
      background-color: grey;
      position: relative;
      left: -100%;
      padding: 5px 0;
      transition: all 300ms;
      position: absolute;
      top: 7.5em;
      z-index: 11111111;
    }
    .btn-container.active{
      left: 3em;
    } 
  .btn-container button{
    padding: 11px 30px;
    background-color: #ffd6d6;
    gap: 30px;
    color: gray;    
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 20px;
  }

  /* Menu styling */

  .products-container {
    grid-template-columns: 1fr;
    position: relative;
    left: -1.5em;;
    
}
  .products-container .each {
  margin-bottom: 1.5em;
  }

.products-container .each .add-to-cart{
position: relative;
color: white;
top: -120px;
left: 5px;
border: none;
border-radius: 7px;
cursor: pointer;
padding: 7px 20px;
background-color: rgb(200, 0, 70);

}

}